version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend_network

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: react-backend-api
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/react-backend
      - NODE_ENV=development
    depends_on:
      - mongo
    networks:
      - backend_network

networks:
  backend_network:

volumes:
  mongo_data: